body { 
    font-family: 'Arial', sans-serif; 
    background-color: black; 
    text-align: center; 
    padding: 70px; 
} 

.stage { 
    margin-top: 70px; 
} 

.hidden { 
    display: none; 
} 

.image { 
    width: 40%;
    height: auto; 
    border-radius: 5px; 
} 

.btn { 
    padding: 20px 30px; 
    font-size: 20px; 
    background-color:blue; 
    color: pink; 
    border: black; 
    border-radius: 20px; 
    cursor: pointer; 
    margin-top: 50px; 
} 

p{
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.image-container { 
    position: relative; 
    display: inline-block;
    width: 100%;
    height: auto; 
} 

.text-overlay { 
    position: absolute; 
    top: 15%; 
    left: 40%; 
    color: black; 
    font-size: 21px; 
    font-weight: bold; 
    text-align: left; 
}


